body{
	font-family: 'Cormorant Garamond', serif;
}
.heading{
	text-align: center;
	margin-bottom: -25px;
}
.col{
	height: 330px;
}

#red{
	xbackground-color: red;
}

#indianred{
	xbackground-color: indianred;
}

#goldenrod{
	xbackground-color:goldenrod;
}

#blue{
	xbackground-color: blue;
}
#green{
	xbackground-color: green;
	margin-top: 5%;
}

.about-image{
	background-image: profilepic.jpg;
	border:50px;
	border-radius:50%;
	margin-left:54% ;
	height: 250px;
	margin-top: 5%;
	display: flex;
	flex-flow: wrap;

	/*border-right: 20px solid green;*/
}
.por-photos{
	size: 300px;
	justify-content: space-around;
	white-space: 10;
	margin-left:25%;
	margin-right:25%;

}
.about-text{
	display: table;
	border-spacing: 15px;
	border-left: red;

}
.card-blog{
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 20%;
	margin-bottom: 20%;
	display: flex;
	flex-direction: column;
	justify-content: auto;
	align-content: center;
	flex-flow: wrap;
}
@media