.col{
	height: 300px;
}
#indianred{
	background-color: indianred;
}

#coral{
	background-color: coral;
}

#salmon{
	background-color: salmon;
}
#moccasin{
	background-color: moccasin;
}

#palegoldenrod{
	background-color: palegoldenrod;
}
body{
	background-color: burlywood;
}
#active{
	margin: auto;
	align-content: center;
	opacity: blur;
}
/*.floatytext{
	justify-content: right;
	margin: auto;
	text-align: center;
	text-orientation: sideways;
}*/