.col{
	height: 300px;
}
#indianred{
	background-color: indianred;
}

#coral{
	background-color: coral;
}

#salmon{
	background-color: salmon;
}
#moccasin{
	background-color: moccasin;
}

#PALEGOLDENROD{
	background-color: palegoldenrod;
}