#container{

display: grid;
grid-template-columns: repeat (10,1fr);
grid-template-rows: repeat(10,1fr);
height: 100vh;
grid-gap: red 5px;
}

#red{
	background-color: red;
	grid-column-start: 3/span 5
	grid-row-start:1/span 5;
}
#blue{
	background-color: blue;
	
}
